/* Toute la Page */

*{
    font-family: 'Raleway';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, main{
    padding-left: 50px;
    padding-right: 50px;
}

/* Font */
@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.woff2') format('woff2'),
         url('fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* Header */
header{
    height: 340px;
}

#logo
{
    display:flex;
    width: 50px;
    height:50px;
    margin-top: 50px;
}

.navigation{
    display: flex;
    position: unset;
    justify-content: space-between;
}

nav{
    position: absolute;
    right: 50px;
    top: 0px;
    margin-top: 30px;
}

nav ul li{
    list-style: none;
    display:inline-block;
    width: 160px;
    text-align: center;
}

nav ul li a:hover, nav ul li a:focus, nav ul li a:active{
    color: #999;
    text-decoration: none;
}

nav ul li a{
    position: relative;
    display: block;
    margin: 0 12px;
    letter-spacing: 1px;
    line-height: 85px;
    font-weight: 900;
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s, padding 0.2s, ease-in;
    color: #0065FC;
}

nav ul li a::before{
    content:'';
    display: block;
    position: absolute;
    bottom: 112px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #0065FC;
    transform-origin: left top; 
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
}

nav ul li a:active::before{
    background-color: #0065FC;
}

nav ul li a:hover::before, a:focus::before {
    transform-origin: left;
    transform: scale(1, 1); 
}

#subhead h1{
    margin-top:45px;
    font-size:15px;
}

#subhead h2{
    font-size:13px;
    font-weight: lighter;
    margin-top: 8px;
    margin-bottom: 17px;
}

.search{
    margin-bottom:20px;
}

.information{
    margin-top: 9px;
}

label{
    background-color: #DEEBFF;
    display: inline-flex;
    border-radius: 15px 0px 0px 15px; 
    padding: 9px;
}

.search form{
    display: flex;
}

.searchButton{
    font-weight: bold;
    padding: 9px;
    text-decoration: none;
    background: #0065FC;
    color: white;
    border-radius: 0px 15px 15px 0px;   
    border: none; 
}

.searchButton:hover{
    color: black;
    background: #DEEBFF;
    transition: 2s;
}

.searchIcon{
    display: none;
    width: 50px;
    height: 50px;
    text-decoration: none;
    background: #0065FC;
    color: white;
    border-radius: 15px 15px 15px 15px;   
    border: none; 
}

.searchIcon:hover{
    color: black;
    background: #DEEBFF;
    transition: 2s;
}

.textAreaSearch{
    padding: 7px;
    border-right: none;
    border-left: none;
    border: 1px solid;
    border-color: #f2f2f2;
}

/* FILTERS / FONT AWESOME ICONS */

#filters{
    display: inline-flex;
    align-items: center;
}

.btn{
    display:flex;
    font-weight:900;
    text-decoration:none;
    background: white;
    border-radius: 20px;
    border: 2px solid;
    border-left: none;
    border-color: rgb(217, 217, 217);
    transition: 1s;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    background:#DEEBFF;
}

.btn span{
    margin-right: 7px;
}

.money, .child, .heart, .dog{
    padding-left:10px;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{
    color:#0065FC;
    display: flex;
    border-radius: 50%;
    padding: 9px;
    background-color: #DEEBFF;
    margin-right: 7px;
}

.information{
    font-size: 12px;
}

.fa-info{
    color: #0065FC;
    display: inline-flex;
    border-radius: 50%;
    padding: 0.5em 0.6em;
    box-shadow: 0px 0px 2px #888;
    float:left;
    margin-right: 12px;
}

.information p{
    padding-top: 4px; 
}

/* Body */

main{
    height: 1250px;
}

/* CONTAINER Hébergements à Marseille */

.container{
    width: 61%;
    height: 620px;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding-left: 30px;
    position: relative;
    margin-bottom: 65px;
    box-shadow: 0 0 2px grey;
}

.container h2{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 19px;
}

.accomodation{
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
}
.accomodation figure img{
    width: 250px;
    height: 120px;
    display: flex;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 5px;
}

.accomodation figure{
    background: white;
    border-radius: 20px;
    width: 250px;
    height: 200px;
    box-shadow: 0 0 8px grey;
    cursor: pointer;
}

.accomodation figcaption{
    padding-left: 15px;
}

.showMore a{
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 50px;
    left:45px;
    font-weight: 900;
}

.showMore a:hover{
    transition: 1s;
    color:lightblue;
}

/* CONTAINER Les plus populaires */

.container2{
    width: 30%;
    height: 620px;
    background-color: #f2f2f2;
    float: right;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 35px;
    box-shadow: 0 0 2px grey;
}

.container2 h2{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 19px;
}

.container2 h2 i{
    float: right;
}

.popular{
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
}

.popular img{
    width: 130px;
    height: 145px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 5px;
}



.popular figcaption{
    float: right;
    padding-right:55px;
    padding-top: 20px;
}

.popular figure{
    background: white;
    border-radius: 20px;
    width: 350px;
    height: 145px;
    box-shadow: 0 0 8px grey;
    cursor: pointer;
}



/* CONTAINER Activités à Marseille */ 

.container3{
    width: 100%;   
    margin-bottom: 60px;
}

.container3 h2{
    padding-bottom: 25px;
    font-size: 19px;
}

.activities{
    display:flex;
    row-gap: 30px;
    column-gap: 73px;
}

.activities img{
    object-fit: cover;
    width: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities figure{
    box-shadow: 0 0 5px grey;
    border-radius: 20px;
    border-color: grey;
    cursor: pointer;
}

.activities figure figcaption{
    padding-left: 20px;
    padding-top: 15px;
    font-weight: 900;
}

.port{
    height: 450px;
}

.port img{
    height: 400px;
}

.fort{
    height: 240px;
}

.fort img{
    height: 180px;
}

.frioul{
    height: 165px;
}

.frioul img{
    height: 110px;
}

.calanques{
    height: 450px;
}

.calanques img{
    height: 400px;
}

.garde{
    height: 200px;
}

.garde img{
    height: 140px;
}

.longchamp{
    height: 215px;
}

.longchamp img{
    height: 155px;
}

.VerticalFbox{
    display: flex;
    flex-direction: column;
    row-gap: 45px;
}

.VerticalFbox2{
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}
/* Etoiles */

.fa-star{
    color: #DEEBFF;
    width: 10px;
    height: 10px;
    margin-right: 4px;
}

.fa-star.blue{
    color: #0065FC;
    width: 10px;
    height: 10px;
    margin-right: 4px;
}

/** Classement étoile "Hébergements à Marseille **/

.rating{
    padding-top: 12px;
    height: 10px;
}

/** Classement étoiles "Les plus populaires" **/

.rating2{
    padding-top: 30px;
}

/* Footer */ 

footer{
    background-color:#F2F2F2;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 220px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

footer div{
    padding-right: 295px;
}

footer li{
    padding-bottom: 20px;
    list-style: none;
    font-size: 13px;
}

footer li a{
    text-decoration: none;
    color: black;
}

footer h1{
    font-size: 15px;
    font-weight: 900;
    padding-bottom: 30px;
}

footer li a:hover{
    color: #999;
    transition: 1.5s;
}


/** Responsive **/

/** Taille d'écran maximale : 768px **/

@media screen and (max-width: 768px) {

    header{
        padding-right: 5%;
        padding-left: 5%;
        height: 690px;
    }
    
    body{
        height: 4550px;
        position: relative;
    }

    #logo{
        margin-top: 30px;
        position: relative;
    }

    main{
        padding-right: unset;
        padding-left: unset;
    }

/* Nav */ 
    nav ul{
        display:flex;
    }

    nav ul li{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }

    nav ul .accomodationMobile a::before{
        top: 70px;
    }

    nav ul .activitiesMobile a::before{
        top: 70px;
    }

    .inscriptionMobile{
        position: absolute;
        top: -20px;
        right: -20px;
    }

    .accomodationMobile, .activitiesMobile{
        padding-top: 40px;
        margin-top: 40px;
    }

    .activitiesMobile{
        margin-left: 60px;
    }

/* Sous titres */

    #subhead{
        margin-top: 170px;
        margin-bottom: 40px;
    }

    #subhead h1{
        font-size: 17px;
    }

    #subhead h2{
        margin-bottom: unset;
    }

/* Boutons Filtres (économique, familial, romantique, animaux autorissés) */

    .money, .child, .heart, .dog{    
        height: 45px;
        display: flex;
        position: relative;
        margin-right: 1px;
        padding-left: unset;
    }

    .btn{
        font-size: 15px;
        padding-right: 25px;
        display: flex;
        justify-content: space-between;
    }

    .money button{
        width: 175px;
    }

    .child button{
        width: 145px;
    }

    .heart button{
        width: 170px;
    } 

    .dog button{
        width: 220px;
    }

    .fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{
        padding: 15px;
        margin-right: 11px;
    }
    
    #filters{
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 15px;
    }

    .filtersSub{
        width: 100%;
        font-weight: 900;
    }


/* Barre de Recherche */

    .search{
        height: 50px;
    }

    .searchButton{
        display: none;
    }

    .searchIcon{
        display: block;
    }

    .textAreaSearch{
        width: 240px;
        border-right: none;
        padding-left: 20px;
        font-weight: 900;
    }

    label{
        width: 50px;
        align-items: center;
    }

    .fa-map-marker-alt{
        padding-left: 11px;
    }

/* Les plus populaires */

    .container2{
        display:flex;
        width: 100%;
        flex-direction: column;
        height: 520px;
        border-radius: unset;
        box-shadow: unset;
        padding-right: unset;
        padding-left: unset;
        align-items: center;
        justify-content: center;
    }

    .container2 h2{
        width: 335px;
    }

    .popular{
        row-gap:10px;
        width: 335px;
        align-items: center;
        justify-content: center;
    }

    .popular img{
        width: 130px;
        height:130px;
    }

    .popular figure{
        width: 335px;
        height: 130px;
        box-shadow: 0 0 4px grey;
    }

    .popular figcaption{
        padding-top: 15px;
        padding-right: 30px;
        font-size: 17px;
    }


/* Hébergements à Marseille */

    .container{
        display: flex;
        width: 100%;
        flex-direction: column;
        background-color: white;
        height: 1450px;
        border-radius: unset;
        box-shadow: unset;
        margin-bottom: unset;   
        justify-content: center;
        align-items: center;
        padding-left: unset;
    }

    .container h2{
        padding-top: unset;
        padding-bottom: 25px;
    }

    .showMore a{
        left: 30px;
        top: 1400px;
    }

    .accomodation{
        row-gap: 13px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .accomodation figure{
        width: 335px;
        box-shadow: 0 0 4px grey; 
    }

    .accomodation figure img{
        width: 335px;
        height: 115px;
    }

    .accomodation figcaption{
        height: 80px;
    }

/* Activités à Marseille */ 

    .container3{
        display: flex;
        height: 1405px;
        margin-bottom: 40px;
        align-items: center;
        justify-content: center;
    }

    .container3 h2{
        padding: unset;
        top: 2655px;
        position: absolute;
    }

    .activities{
        display: flex;
        flex-direction: column;
        width: 335px;
        row-gap: 25px;
        align-items: center;
        justify-content: center;
    }

    .activities img{
        width:335px;
        height:130px;
    }

    .activities figure figcaption{
        height: 55px;
        padding-top: 20px;
    }

    .port, .fort, .frioul, .calanques, .garde, .longchamp{
        height: 200px;
    }

    .VerticalFbox, .VerticalFbox2{
        row-gap: 25px;
        align-items: center;
        justify-content: center;
    }

/* Bas de page */ 

    footer{
        position: absolute;
        flex-direction: column;
        height: 490px;
        padding-left: 20px;
        padding-right: unset;
        width: 100%;
    }

    footer div{
        padding-right: unset;
    }

    footer li{
        padding-bottom: 15px;
        font-size: 15px
    }

    footer h1{
        padding-bottom: 25px;   
    }

    .about{
        padding-bottom: 40px;
    }

    .accomodation2{
        padding-bottom: 40px;
    }
}



/* Taille d'écran maximale : 1440px // Minimale : 769px */

@media screen and (min-width: 769px) and (max-width: 1095px) {
    header, main{
        padding-left: 20px;
        padding-right: 20px;
    }

    main{
        height: auto;
    }

    /* Hébergements à Marseille */

    .container{
        height: 900px;
        padding-right: 3px;
        width: 60%;
    }

    .accomodation{
        align-items: center;
        justify-content: space-evenly;
    }

    .accomodation figure{
        width: 180px;
        height: 210px;
    }

    .accomodation figure img{
        width: 180px;

    }

    /* Les plus populaires */

    .container2{
        height: 900px;
        width: 35%;
    }

    .container2 h2{
        font-size: 17px;
    }

    .popular figure{
        width: 100%;
        height: auto;
    }

    .popular figcaption{
        float: unset;
        padding: unset;
        padding-left: 10px;
    }

    .popular img{
        width: 100%;
        height: 120px;
        border-radius: 20px 20px 0 0;
    }

    .rating2{
        padding-top: 10px;
    }

    /* Activités à Marseille */

    .container3{
        height: auto;
    }

    .activities{
        flex-wrap: wrap;
        column-gap: 50px;
        row-gap: 70px;
        align-items: center;
        justify-content: center;
    }

    .VerticalFbox{
        flex-direction: row;
        column-gap: 50px;
        row-gap: 70px;
        align-items: center;
        justify-content: center;
    }

    .VerticalFbox2{
        flex-direction: row;    
        column-gap: 50px;
        row-gap: 70px;
        align-items: center;
        justify-content: center;
    }

    .activities figure{
        width: 220px;
        height: 150px;
        margin-bottom: 40px;
    }

    .activities img{
        width: 220px;
        height: 150px;
    }


    /* Bas de Page */

    footer{
        position: relative;
        width: 100%;
        padding: unset;
        padding-top: 2%;
        justify-content: space-between;
        column-gap: 25%;
        padding-left: 20px;
        bottom: 0;
    }

    .about{
        padding: unset;
    }

    .accomodation2{
        padding: unset;
    }
}


@media screen and (min-width: 1094px) and (max-width: 1486px){
    header, main{
        padding-left: 20px;
        padding-right: 20px;
    }

    main{
        height: auto;
        width: 100%;
    }

    /* Filtres */

    .money, .child, .heart, .dog{
        padding-left: 30px;
    }

    /* Hébergements à Marseille */ 

    .container{
        width: 60%;
        padding-right: 30px;
    }

    .accomodation{
        align-items: center;
        justify-content: space-between;
        row-gap: 40px;
        column-gap: 20px;
    }

    .accomodation figure{
      width: 30%;
      height: 215px;
    }

    .accomodation figure img{
        width: 100%;
    }

    .showMore a{
        top: 580px;
    }

    /* Les plus populaires */ 

    .container2{
        width: 35%;
    }

    .popular{
        justify-content: space-between;
        row-gap: 20px;
    }

    .popular figure{
        width: 100%;
    }

    .popular figure img{
        width: 40%;
    }

    .popular figcaption{
        padding-right: 7%;
    }

    /* Activités à Marseille */

    .container3{
        height: auto;
        display: flex;
    }

    .container3 h2{
        padding: unset;
        top: 980px;
        position: absolute;
    }

    .activities{
        width: 100%;
        align-items: center;
        justify-content: space-between;
        column-gap: unset;
    }

    .activities figure{
        width: 250px;
    }

    .activities img{
        width: 250px;
    }

    .VerticalFbox{
        align-items: center;
        justify-content: center;
    }

    .VerticalFbox2{
        align-items: center;
        justify-content: center;
    }

    /* Bas de Page */

    footer{
        position: relative;
        width: 100%;
        padding: unset;
        padding-top: 2%;
        justify-content: space-between;
        column-gap: 25%;
        padding-left: 20px;
        bottom: 0;
    }

    .about{
        padding: unset;
    }

    .accomodation2{
        padding: unset;
    }
    
}

@media screen and (min-width: 1520px){

    .wrapper{
        margin-left: auto;
        margin-right: auto;
        max-width: 1520px;
    }

    nav{
        position: unset;
    }

    .money, .child, .heart, .dog{
        padding-left: 30px;
    }

    .container{
        margin-top: 10px;
    }
}
